<ion-header class="ion-no-border header" mode="md">
  <ion-toolbar>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="boxNot">
    <div class="item" lines="none">
      <ion-thumbnail slot="start">
        <img src="assets/test/rest1.jpg">
      </ion-thumbnail>
        <ion-label>
          <h3>Pedido enviado</h3>
          <p>dolor sit amet Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci dolore aliquid beatae voluptatibus recusandae repellat quisquam </p>
        </ion-label>
      <div slot="end" class="date">
        <span>12-07-20</span>
      </div>
    </div>
    <div class="item" lines="none">
      <ion-thumbnail slot="start">
        <img src="assets/test/rest2.jpg">
      </ion-thumbnail>
        <ion-label>
          <h3>Pago aprobado</h3>
          <p>dolor sit amet Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci dolore aliquid beatae voluptatibus recusandae repellat quisquam </p>
        </ion-label>
      <div slot="end" class="date">
        <span>12-07-20</span>
      </div>
    </div>
  </div>
</ion-content>
