:host{
    /* ion-content{
        --background: #f9f9f9;
    } */
    .boxNot{
        padding: 0 15px;
        .item{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            /* border-bottom: 1px solid #d1d1d1; */
            margin: 15px 0;
            box-shadow: 1px 1px 7px #d1d1d1;
            border-radius: 5px;
            padding: 10px 15px;
            background-color: #fff;
            ion-thumbnail{
                width: 58px;
                height: 58px;
                min-width: 58px;
                margin-right: 20px;
                place-self: flex-start;
                margin-top: 3px;
                img{
                    border-radius: 5px;
                }
            }
            ion-label{
                white-space: normal;
                margin-right: 5px;
                h3{
                    font-size: 16px;
                    font-weight: bold;
                    color: #343434;
                }
                p{
                    line-height: 1.3;
                    color: #999;
                }
            }
            .date{
                min-width: 60px;
                text-align: right;
                font-size: 12px;
                color: var(--primary);
                font-weight: bold;
            }
        }
    }
}