<ion-header class="ion-no-border header header-chef" mode="md">
  <ion-toolbar>
    <ion-title>Mis pedidos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="mapouter">
    <ion-card>
      <ion-card-header>
        <img class="imgCard" src="assets/test/rest1.jpg" />
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>La curva</ion-card-title>
        <p class="text">Urb Guana guanare </p>
        <div class="price">
          <span>1 km</span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

