:host{
   /*  ion-content{
        --background: #f9f9f9;
    } */
    .boxDetail{
        .boxSlider{
            position: relative;
            .category{
                position: absolute;
                padding: 4px 12px;
                color: #fff;
                background-color: var(--primary);
                border-radius: 5px;
                bottom: 15px;
                right: 15px;
                z-index: 99;
                font-size: 12px;    
            }
        }
        ion-slides{
            ion-slide{
                img{
                    height: 220px;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .boxDescription{
            padding: 15px;
            .item{
                padding: 10px;
                box-shadow: 1px 1px 7px #c1c1c1;
                border-radius: 5px;
                background: #fff;
                h5{
                    color: #343434;
                    margin: 0;
                    font-size: 22px;
                    margin-bottom: 5px;
                    letter-spacing: 0;
                }
                p{
                    margin-top: 10px;
                    color: #666;
                    font-size: 14px;
                    line-height: 1.3;
                    margin: 0;
                }
                .direction{
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    /* font-weight: bold; */
                    font-size: 14px;
                    color: #5b5b5b;
                    ion-icon{
                        font-size: 20px;
                        margin-right: 5px;
                        color: var(--primary);
                    }
                }
                .boxRating{
                    margin-top: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-top: 1px solid #d1d1d1;
                    margin-top: 15px;
                    margin-bottom: -8px;
                    .buttonShared{
                        --background: transparent;
                        color: var(--black);
                        --padding-end: 10px;
                        --padding-start: 10px;
                        font-size: 16px;
                    }
                }
            }
            .option{
                padding: 10px;
                /* border-top: 1px solid #d1d1d1;
                border-bottom: 1px solid #d1d1d1;
                margin-top: 0; */
                box-shadow: 1px 1px 7px #c1c1c1;
                margin: 15px 0;
                background: #fff;
                border-radius: 5px;
                ion-grid,ion-col{
                    padding: 0;
                }
                ion-col{
                    &:last-child{
                        .group{
                            margin-bottom: 0;
                        }
                    }
                }
                .group{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 42px;
                    .left{
                        max-width: 40%;
                        display: flex;
                        align-items: center;
                    }
                    .right{
                        max-width: 60%;
                        text-align: right;
                        .quantity{
                            display: flex;
                            align-items: center;
                            ion-button{
                                --background: transparent;
                                --padding-bottom: 0;
                                --padding-start: 0;
                                --padding-top: 0;
                                --padding-end: 0;
                                height: 33px;
                                width: 30px;
                                margin: 0;
                            }
                            ion-input{
                                width: 30px;
                                min-width: 30px;
                                border: 1px solid #d1d1d1;
                                height: 26px;
                                --padding-start: 0 !important;
                                --padding-end: 0 !important;
                                --padding-top:0 !important;
                                --padding-bottom:0 !important;
                                text-align: center;
                                margin: auto 10px;
                            }
                        }
                    }
                    ion-icon{
                        font-size: 20px;
                        margin-right: 5px;
                        color: var(--primary);
                    }
                    span{
                        margin-right: 5px;
                        color: #343434;
                        font-size: 14px;
                    }
                    span.red{
                        color: var(--primary);
                    }
                    .titleRestaurante{
                        font-weight: bold;
                    }
                }
            }
            .description{
                .group{
                    margin-bottom: 0px;
                }
                h5{
                    color: #666;
                    font-size: 14px;
                    margin: 0;
                }
            }
        }
    }
}