<ion-tabs>
  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="close-to-me">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Cerca de mí</ion-label>
    </ion-tab-button>

    
    <ion-tab-button tab="orders">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label>Yo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!-- <ion-tabs *ngIf="idMode == 2">
  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="home-chef">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders-chef">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label>Yo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
