<ion-content>
  <div class="bodyMode">
    <ion-list>      
      <ion-item lines="none" (click)="test(1)">
        <ion-thumbnail slot="start">
          <img src="assets/images/mode/comida.svg">
        </ion-thumbnail>
        <ion-label>
          <h5>Cliente</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item lines="none" (click)="test(2)">
        <ion-thumbnail slot="start">
          <img src="assets/images/mode/cocinero.svg">
        </ion-thumbnail>
        <ion-label>
          <h5>Chef</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item lines="none" (click)="test(3)">
        <ion-thumbnail slot="start">
          <img src="assets/images/mode/repartidor.svg">
        </ion-thumbnail>
        <ion-label>
          <h5>Delivery</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
